<Files *.xgmml>
ForceType application/xml
Header set Content-Disposition attachment
</Files>


<Files *.txt>
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</Files>

